    <div class="guess-form">
        <!-- Age Statement -->
        <div class="form-group">
          <div class="label-group">
            <h3 class="font-hermona-2xl age">
              What do you think the age statement is?
              <span class="value font-hermona-2xl">
                {{ guesses['sample' + getSampleLetter(currentSample)]?.age || 0 }} Years
              </span>
            </h3>
          </div>
          <span class="slider-container">
            <img src="assets/images/Track.png" class="slider-track" alt="track">
            <input type="range" class="custom-slider" min="1" max="10" title="Age Slider"
              [(ngModel)]="guesses['sample' + getSampleLetter(currentSample)].age">
          </span>
        </div>

        <!-- Proof -->
        <div class="form-group">
          <span class="label-group">
            <h3 class="font-hermona-2xl">
              What do you think the proof is?
              <span class="value font-hermona-2xl">
                {{ guesses['sample' + getSampleLetter(currentSample)]?.proof || 0 }} Proof
              </span>
            </h3>
          </span>
          <span class="slider-container">
            <img src="assets/images/Track.png" class="slider-track" alt="track">
            <input type="range" class="custom-slider" min="80" max="130" title="Proof Slider"
              [(ngModel)]="guesses['sample' + getSampleLetter(currentSample)].proof">
          </span>
        </div>

        <!-- Mashbill -->
        <div class="form-group">
          <h3 class="font-hermona-2xl">What do you think the mashbill is?</h3>
          <div class="mashbill-options">
            <div *ngFor="let type of mashbillTypes" class="mashbill-option">
              <input type="radio" [id]="'mashbill-' + type" [value]="type" title="Mashbill Type: {{ type }}"
                [(ngModel)]="guesses['sample' + getSampleLetter(currentSample)].mashbill" [name]="'mashbill' + currentSample">
              <label [for]="'mashbill-' + type" class="helvetica-text">
                <img src="assets/images/Ellipse_W.png" class="radio-unchecked" alt="unchecked">
                <img src="assets/images/Ellipse_B.png" class="radio-checked" alt="checked">
                <span class="label-text">{{ type }}</span>
              </label>
            </div>
          </div>
        </div>

        <!-- Star-Rating -->
        <div class="form-group">
          <span class="label-group">
            <h3 class="font-hermona-2xl">
              How do you rate this whiskey?
              <span class="value font-hermona-2xl" *ngIf="starRatings['sample'+getSampleLetter(currentSample)]">
                {{ starRatings['sample'+getSampleLetter(currentSample)] }}/10
              </span>
            </h3>
          </span>
          <div class="rating-container">
            <app-star-rating [rating]="starRatings['sample' + getSampleLetter(currentSample)] || 0"
              (ratingChange)="updateStarRating(currentSample, $event)" [readonly]="false">
            </app-star-rating>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="submit-section" *ngIf="showSubmitAllButton()">
          <button class="submit-button" (click)="submitGuesses()">
            <img src="assets/images/Submit_All_Guesses_Button.png" alt="Submit All Guesses">
          </button>
        </div>
    </div>
  </div>

  <!-- Results Component -->
  <app-results *ngIf="gameCompleted && showResults" 
    [quarterData]="quarterData" 
    [guesses]="guesses" 
    [scores]="scores"
    [totalScore]="totalScore" 
    (playAgain)="playAgain()" 
    (shareResults)="share()" 
    (submitScore)="submitScore()">
  </app-results>
</div>