
/* src/styles/_hermona.scss */
@font-face {
    font-family: 'Hermona-Extras';
    src: url('../assets/fonts/Hermona-Extras.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  